{% extends "alunos/header.html" %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Módulo I</h4>                        
                    </div>
                    <div class="card-content table-responsive"> 
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Cálculo I</th>
                                <th>Física I</th>
                                <th>Química</th>
                                <th>Algoritmos e Programação</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>9,0</td>
                                    <td>5,5</td>
                                    <td>7,0</td>
                                    <td>6,5</td>
                                </tr>                                
                            </tbody>
                        </table>                       
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Módulo II</h4>                        
                    </div>
                    <div class="card-content table-responsive"> 
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Cálculo I</th>
                                <th>Física I</th>
                                <th>Química</th>
                                <th>Algoritmos e Programação</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>9,0</td>
                                    <td>5,5</td>
                                    <td>7,0</td>
                                    <td>6,5</td>
                                </tr>                                
                            </tbody>
                        </table>                       
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Média Final</h4>                        
                    </div>
                    <div class="card-content table-responsive"> 
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Cálculo I</th>
                                <th>Física I</th>
                                <th>Química</th>
                                <th>Algoritmos e Programação</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>9,0</td>
                                    <td>5,5</td>
                                    <td>7,0</td>
                                    <td>6,5</td>
                                </tr>                                
                            </tbody>
                        </table>                       
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock %}