
{% extends "professors/header.html" %}
{% load staticfiles %}
	{% block content %}			
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" data-background-color="orange">
						<h4 class="title">{{ month }} / {{ year }}</h4>		
					</div>
					<div class="card-content">
						<div id='wrap'>
							<div id='calendar'></div>
							<div style='clear:both'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
	{% block script %}
		<script src="{% static 'jquery/jquery-1.10.2.js' %}"></script>
		<script src="{% static 'jquery/jquery-ui.custom.min.js' %}"></script>
		<script src="{% static 'js/fullcalendar.js' %}"></script>

		<script>
			$(document).ready(function() {
				$('#calendar').fullCalendar({
					header: false,
					editable: false,
					firstDay: 0, //  1(Monday) this can be changed to 0(Sunday) for the USA system
					selectable: false,
					defaultView: 'month',					
					axisFormat: 'h:mm',
					columnFormat: {
						month: 'ddd',    // Mon
						week: 'ddd d', // Mon 7
						day: 'dddd M/d',  // Monday 9/7
						agendaDay: 'dddd d'
					},
					allDaySlot: false,									
					events: [
						{% for i in tarefas %}
						{
							title: "{{ i.name}}",
							start: '{{ i.date|date:"Y-m-d" }}',
							className: 'important'							
						},
						{% endfor %}
					]			
				});	
			});
		</script>
		

	{% endblock %}