{% extends 'professors/header.html' %}
{% load myfilters %}
{% load widget_tweaks %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h6 class="title">Alterar Nota</h6>
                    </div>
                    <div class="card-content">
                        {% if message %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>          
                        {% endif %}
                        <form method="POST" action="">{% csrf_token %}
                            {% for field in grade_form.visible_fields %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            {{ field.label_tag }}
                                            {{ field | addclass:'form-control' }}                                            
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>  
                        {% comment %} <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <form method="POST" action="">{% csrf_token %}                                        
                                        {{ form.as_p }}
                                        <input type="submit" class="btn btn-primary pull-right" value="Salvar" />
                                    </form>                                    
                                </div>
                            </div>
                        </div> {% endcomment %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock %}