{% extends "students/header.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">grade</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Olá</p>
                            <h3 class="title">{{ user.username }}</h3>
                        </div>                    
                    </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">list</i>
                </div>
                <div class="card-content">
                    <p class="category">Entregas</p>
                    <h3 class="title">{{ tasks }}</h3>                
                </div>                    
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red">
                    <i class="material-icons">date_range</i>
                </div>
                <div class="card-content">
                    <p class="category">Turmas</p>
                    <h3 class="title">{{classes}}</h3>
                </div>                    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card card-nav-tabs">
                <div class="card-header" data-background-color="red">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <h4 class="title">Próximas Entregas</h4>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <table class="table">
                                <tbody>
                                    {% for tarefa in tarefas %}  
                                    <tr>
                                        <td>{{ tarefa.name }}</td>
                                        <td>{{ tarefa.date }}</td>
                                        <td>{{ tarefa.taskClass }}</td>
                                    </tr>
                                    {% endfor %}                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Agenda - {{month}}</h4>
                </div>
                <div id= 'calendar'>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
		<script src="{% static 'jquery/jquery-1.10.2.js' %}"></script>
		<script src="{% static 'jquery/jquery-ui.custom.min.js' %}"></script>
		<script src="{% static 'js/fullcalendar.js' %}"></script>
		<script>
			$(document).ready(function() {
				$('#calendar').fullCalendar({
					header: false,
					editable: false,
					firstDay: 0, //  1(Monday) this can be changed to 0(Sunday) for the USA system
					selectable: false,
					defaultView: 'month',					
					axisFormat: 'h:mm',
					columnFormat: {
						month: 'ddd',    // Mon
						week: 'ddd d', // Mon 7
						day: 'dddd M/d',  // Monday 9/7
						agendaDay: 'dddd d'
					},
					allDaySlot: false		
				});	
			});
		</script>
{% endblock %}

