{% extends "students/header.html" %}
{% load myfilters %}


{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Editar Perfil</h4>                        
                    </div>
                    <div class="card-content">
                        <form method="POST" action="">{% csrf_token %}                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email</label>                                        
                                        {{ form.email|addclass:'form-control' }}                                        
                                    </div>
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nome</label>
                                        {{ form.firstName|addclass:'form-control' }}                                                                            
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Sobrenome</label>
                                        {{ form.lastName|addclass:'form-control' }}                                        
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Senha</label>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

{% endblock %}